<html ng-app="LaurentsApp">
<head>
  <title></title>
</head>
<body>
  <div ng-controller="requestController">
    <img ng-src="{{ request.user.image.urls.avatar }}">
    <p>{{ request.user.name }} asks: </hp>
    <h2>{{ request.question }}</h2>

    <div ng-controller="answerController">
      <form>
        <input ng-model="query" name="query" type="text" placeholder="search ...">
        <button ng-click="fetch(query)">search</button>
      </form>

      <div ng-repeat="basePearl in basePearls | filter:query">
        <form>
          <p>
            {{ basePearl.name }}
            <input type="hidden" name="base_pearl_id" value="{{ basePearl.uid }}">
            <button ng-click="send(basePearl.uid, request.uid)">send</button>
          </p>
          </form>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="/js/app.js"></script>

</body>
</html>
